:root {
    --green: #90FB7E;
    --blue: #31394D;
    --grey: #9A9CA6;
    --btn-grey: #d2d5de;
    --btn-reset-red: #EE807C;
    --btn-reset-hover: #A3585B;
    --btn-add-ani: #66b049;
    --btn-reset-ani: #DF857E;
}

body {
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    background-color: var(--blue);
}

.btn {
    padding: 1em 3em;
    border: 1px solid var(--grey);
    border-radius: 15px;
    font-size: 20px;
    margin-right: 20px;
    color: var(--grey);
    background-color: var(--blue);
    font-family: menlo;
}

.btn:hover {
    color: var(--btn-grey);
    border-color: var(--btn-grey);
}

.btn-reset {
    margin-left: 1em;
    color: var(--btn-reset-red);
    border: 1px solid var(--btn-reset-red);
}

.btn-reset:hover {
    border-color: var(--btn-reset-red);
    color: var(--btn-reset-red);
}

.btn:focus {
    outline: none;
}

span {
    font-size: 50px;
    color: var(--green);
}

.plus-ani {
    margin-bottom: 20px;
    color: var(--btn-add-ani);
}

.reset-ani {
    color: var(--btn-reset-ani);
    margin-top: 20px;
}